# Virtual Environment
venv/
env/
.env

# Python cache
__pycache__/
*.pyc
*.pyd
*.so

# OS / IDE files
.DS_Store
.vscode/
*~


# dependencies
node_modules/

# build output
dist/

# logs and caches
*.log
*.tsbuildinfo

